.App {
  text-align: center;
}

.game-box{
  height: 7rem;
  width: 7rem;
  border: 1px solid black;
  font-size: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.game-box:hover{
  background-color: rgba(0, 0, 0, 233);
}
.board{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  width:min-content;
  background-color: crimson;
}
body{
  margin:20px;
  
}